.preloader-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: opacity .5s ease-in-out;
}

.preloader-overlay.preloader-overlay-hidden {
    opacity: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    position: relative;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #000;
}

.loader::before {
    box-shadow: -25px 0;
    animation: l8-1 1s infinite linear;
}

.loader::after {
    transform: rotate(0deg) translateX(25px);
    animation: l8-2 1s infinite linear;
}

@keyframes l8-1 {
    100% {
        transform: translateX(25px)
    }
}

@keyframes l8-2 {
    100% {
        transform: rotate(-180deg) translateX(25px)
    }
}